body{
    font-family:Helvetica, Arial, sans-serif;
}



.s1{
    

    padding-bottom: 200px;
    color: white;
    background-image: url(Images/nature.jpg.jpg);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    

}

.menu{
    
    display: flex;
    font-weight: lighter;
  
}

.menu a:hover{
    text-decoration: underline;
    line-height: 1px ;
}
.menu1{
    display: flex;
    
}

.menu2{
    margin-left:400px;
    display: flex;
   
}
.met{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.glass{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.explore{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.support{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.search{
    padding-right:30px;
    text-decoration: none;
    color: white;
}

.location{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.metquest{
    text-decoration: none;
    color: white;
}

.apps{
    text-decoration: none;
    color: white;
    margin-left: 30px;

}



.cart{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.login{
    text-decoration: none;
    color: white;

}

.intro{
    text-align: center;
    color: white;
    margin-top:80px;
}

.more{
    margin-top: 50px;
    text-decoration: none;
    color: white;
    
}

.more1{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    border-radius: 30px;
  
    background-color: rgb(73, 73, 242);
    text-decoration: none;
    color: white;

}

.more2{
 
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-right: 20px;

    
    background-color: azure;
    text-decoration: none;
    color: black;

}

.h3{
    justify-content: center;
    margin-left: 255px;
    
    padding: 30px;
}

.secondSec{

    display: flex;
    justify-content: center;  

}

.aiglass{
    margin-left: 100px;
    margin-right: 45px;
    background-color: rgb(234, 232, 232);
    padding-right: 55px;
    padding-left: 55px;
    border-radius: 20px;
    justify-content: center;
}

.aiglass a{
    text-decoration: none;

}

.mquest{
    
    margin-right: 50px;
    background-color: rgb(234, 232, 232);
    padding-right: 55px;
    padding-left: 55px;
    border-radius: 20px;
    padding-bottom: 40px;
    justify-content: center ;
    
}
.qaccessories h4{
    justify-content: center;
    padding-left: 10px;

}

.mquest a{
    text-decoration: none;
    
}

.qaccessories{
    
    margin-right: 50px;
    background-color: rgb(234, 232, 232);
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
    justify-content: center;
    
}


.qaccessories a{
    text-decoration: none;
    margin-left: 10px;
    
}

.qapps{
    
    margin-right: 50px;
    background-color: rgb(234, 232, 232);
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 20px;
    padding-bottom: 40px;
    justify-content: center;
    
}


.qapps a{
    text-decoration: none;
    margin-left: 10px;
    
}
.qapps h4{
    justify-content: center;
    padding-left: 10px;

}


.s2{
    margin-top: 50px;

    display:flex;
    justify-content: center;
    margin: 30px;
   

}
.sec2div1{

    border-radius: 20px;
    padding: 80px;
    padding-top: 155px;
    padding-right: 200px;
    
    justify-content: center;
    margin-right:30px;
    font-size: larger;
    text-align: center;
    background-image: url(Images/glasseslens.jpg);
    color: white;
    
    
}

.tryon{
    background-color:rgb(47, 91, 204) ;
    text-decoration:none;
    color:white;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}
.shopall{
    background-color:rgb(243, 244, 245) ;
    text-decoration:none;
    color:rgb(10, 9, 9);
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 30px;
    margin-left: 20px;

}
.sec2div2{
    
    border-radius:30px;
    padding: 100px;
    justify-content: center;
    font-size: larger;
    text-align: center;
    
    color: white;

    background-image:url(Images/glasses.jpg) ;
   

}

.sec2div1_1{
    margin-top: 50px;

    text-align: center;
    
}

.sec2div2 h3{
    text-align: center;
    font-weight: bold;
    font-size: larger;

}

.shoptransitions{
    margin-top: 70px;
    background-color: rgb(47, 91, 204);
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

.getnews{
    display: flex;
    margin-top: 100px;
}
.getnews p{
    margin-right: 150px;
    margin-left: 30px;
    color: rgb(83, 82, 82);
    margin-top: 30px;
}


.mail{
    border-radius: 12px;
    margin-top:20px;
    padding: 20px;
    padding-right: 700px;
    border: 1px solid rgb(160, 191, 197);
    
    
}

.signup{
    text-decoration: none;
    margin-top: 25px;
    border: 1px solid lightgrey;
    padding-right: 28px;
    padding-left: 28px;
    padding-top: 15px;
    border-radius: 27px;
    color: rgb(126, 125, 125);
    margin-left: 40px;
    font-weight: bold;

}

.terms{
    font-size: small;
    margin-left: 322px;
    color: rgb(82, 81, 81);

    
}

.terms a{
    color: rgb(22, 81, 231);
}
.line{
    margin-top: 100px;
    border-bottom: 1px solid lightgrey;
}


.bottommenu{
    display: flex;
    margin-left: 400px;
    font-size: small ;
    
    
}
.bottommenu h4{
    font-weight: bold;
    font-size: small;
    
}

.metastoresupport{
    margin-right: 200px;
}

.metastore a{
    text-decoration: none;
    color: rgb(84, 83, 83);
    
    
    
}
.storesupport a{
    text-decoration: none;
    color: rgb(84, 83, 83);

}

.communityactions{
    margin-right: 200px;
}

.community a{
    text-decoration: none;
    color: rgb(84, 83, 83);
}

.actions a{
    text-decoration: none;
    color: rgb(84, 83, 83);
}

.aboutus a{
    text-decoration: none;
    color: rgb(84, 83, 83);
}

.siteterms a{
    text-decoration: none;
    color: rgb(84, 83, 83);
}

.appsupport a{
    text-decoration: none;
    color: rgb(84, 83, 83);
}

.bottomborder{
    border-bottom: 1px solid lightgrey;
    margin-top: 30px;
}

.bottommenu :hover a {
    line
}




.lastSection{
    display: flex;
    margin-top: 50px;
    
}

.lastsec1{
    margin-left: 200px;
    font-size: small;
    color: rgb(82, 81, 81);
}
.lastsec1 h3{
    font-weight: lighter;

}

.lastsec1 a{
    color: rgb(43, 91, 210);
    
}
.language{
    color: black;
    margin-top: 20px;
    margin-left: 20px;
   
}

.bottommenu a:hover {
    text-decoration: underline black;
}
