body{
    font-family:Helvetica, Arial, sans-serif;
}



.s1{
    

    padding-bottom: 200px;
    color: white;
    background-image: url(../HTML&CSS/nature.jpg.jpg);
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    

}

.menu{
    
    display: flex;
    font-weight: lighter;
  
}
.menu1{
    display: flex;
    
}

.menu2{
    margin-left:600px;
    display: flex;
   
}
.met{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.glass{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.explore{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.support{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}

.search{
    padding-right:30px;
    text-decoration: none;
    color: white;
}

.location{
    padding-right: 30px;
    text-decoration: none;
    color: white;
}
.metquest{
    text-decoration: none;
    color: white;
}

.cart{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.login{
    text-decoration: none;
    color: white;

}

.intro{
    text-align: center;
    color: white;
    margin-top:80px;
}

.more{
    margin-top: 50px;
    text-decoration: none;
    color: white;
    
}

.more1{
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 20px;
    border-radius: 30px;
  
    background-color: rgb(73, 73, 242);
    text-decoration: none;
    color: white;

}

.more2{
 
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    margin-right: 20px;

    
    background-color: azure;
    text-decoration: none;
    color: black;

}

.s2{
    margin-top: 50px;

    display:flex;
    justify-content: center;

}
.sec2div1{

    border-radius: 20px;
    padding: 80px;
    padding-top: 155px;
    padding-right: 200px;
    
    justify-content: center;
    margin-right:80px;
    font-size: larger;
    text-align: center;
    background-image: url(Images/glasseslens.jpg);
    color: white;
    
    
}

.tryon{
    background-color:rgb(47, 91, 204) ;
    text-decoration:none;
    color:white;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
}
.shopall{
    background-color:rgb(243, 244, 245) ;
    text-decoration:none;
    color:rgb(10, 9, 9);
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 30px;
    margin-left: 20px;

}
.sec2div2{
    
    border-radius:30px;
    padding: 100px;
    justify-content: center;
    font-size: larger;
    text-align: center;
    background-image:;
    color: white;

    background-image:url(Images/glasses.jpg) ;
   

}

.sec2div1_1{
    margin-top: 50px;

    text-align: center;
    
}

.sec2div2 h3{
    text-align: center;
    font-weight: bold;
    font-size: larger;

}

.shoptransitions{
    margin-top: 70px;
    background-color: rgb(47, 91, 204);
    text-decoration: none;
    color: white;
    border-radius: 30px;
    padding: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

